/* 
font-family: 'Raleway', sans-serif;
font-family: 'Titillium Web', sans-serif; 
*/

body {
  font-family: "Titillium Web", sans-serif !important;
  color: #1a1f2f !important;
  font-weight: 400 !important;
}

#__react-alert__ div div div {
  /* width: auto !important; */
  -webkit-box-flex: 3;
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
  text-transform: initial !important;
  font:inherit !important;
  padding: 8px 10px;
}

.uk-padding-xsmall {
  padding: 0.2rem;
}

.uk-form-label {
  font-family: "Titillium Web", sans-serif !important;
  font-weight: bold;
  font-size: 17px;
}

.uk-navbar-item,
.uk-navbar-nav > li > a {
  font-family: "Titillium Web", sans-serif !important;
}

.uk-card-title,
.uk-article-title {
  font-family: "Raleway", sans-serif !important;
}

.uk-raleway {
  font-family: "Raleway", sans-serif !important;
}

.color-white {
  color: #ffffff !important;
}

.divider01 {
  margin: 15px 0 15px 0 !important;
  border-top: 2px solid #a1a1a1 !important;
}

.uk-navbar-item,
.uk-navbar-nav > li > a,
.uk-navbar-toggle {
  min-height: 50px !important;
}

.bg-blue-marine {
  background: #1a1f2f !important;
}

.bg-blue-marine01 {
  background: #2e354a !important;
}

.bg-blue-marine02 {
  background: #3d455c !important;
}

.bg-blue-marine03 {
  background: #515970 !important;
}

.bg-blue-marine-min {
  background: #2a3456 !important;
}
.uk-slidenav {
  color: rgb(0 0 0 / 100%);
}

.bg-green {
  background: #76cec1 !important;
}

.bg-element01 {
  background-color: white;
  border: 1px solid #1a1f2f;
  border-radius: 0.6rem;
  color: #1a1f2f !important;
  font-weight: bold;
}

.bg-element02 {
  background-color: white;
  border: 1px solid #1a1f2fb1;
  border-radius: 0.6rem;
  color: #1a1f2f !important;
  font-weight: bold;
}

.bg-element03 {
  background-color: white;
  border: 1px solid #1a1f2f93;
  border-radius: 0.6rem;
  color: #1a1f2f !important;
  font-weight: bold;
}

.bg-element04 {
  background-color: white;
  border: 1px solid #1a1f2f6d;
  border-radius: 0.6rem;
  color: #1a1f2f !important;
  font-weight: bold;
}

.bg-element05 {
  background-color: white;
  border: 1px solid #1a1f2f48;
  border-radius: 0.6rem;
  color: #1a1f2f !important;
  font-weight: bold;
}

.uk-button-pink {
  background-color: #ea32a0;
  color: white;
  border-radius: 0.4rem;
  border-color: #ea32a0;
}

.uk-button-pink:hover {
  background-color: #ea32a0;
  color: white;
  border-radius: 0.4rem;
  border-color: #ea32a0;
}

.uk-button-pink:focus {
  background-color: #ea32a0;
  color: white;
  border-radius: 0.4rem;
  border-color: #ea32a0;
}

.uk-grid-divider > :not(.uk-first-column)::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  border-left: 2px solid #f3f3f31a;
}

.active {
  color: white !important;
}

.card-green {
  font-size: 18px !important;
  padding-top: 10px !important;
  padding-bottom: 5px !important;
  border-radius: 0.8rem !important;
}

.padding-small {
  padding-top: 20px;
  padding-bottom: 10px;
}

.bg-blue-white {
  background: #2da6dc !important;
}

.blue-marine {
  color: #1a1f2f !important;
}

.blue-marine02 {
  color: #2a3456 !important;
}

.blue-white {
  color: #2da6dc !important;
}

.font-5 {
  font-size: 5rem !important;
}

.font-4 {
  font-size: 3.4rem !important;
}

.font-8 {
  font-size: 2.5rem !important;
}

.font-1 {
  font-size: 1rem !important;
}

.font-2 {
  font-size: 0.8rem !important;
}

.uk-navbar-item,
.uk-navbar-nav > li > a,
.uk-navbar-toggle {
  font-family: "Overpass", sans-serif !important;
  color: #1a1f2f !important;
  font-weight: bold;
}

.uk-h1,
.uk-h2,
.uk-h3,
.uk-h4,
.uk-h5,
.uk-h6,
.uk-heading-2xlarge,
.uk-heading-large,
.uk-heading-medium,
.uk-heading-small,
.uk-heading-xlarge,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Overpass", sans-serif !important;
}

* + .uk-h1,
* + .uk-h2,
* + .uk-h3,
* + .uk-h4,
* + .uk-h5,
* + .uk-h6,
* + .uk-heading-2xlarge,
* + .uk-heading-large,
* + .uk-heading-medium,
* + .uk-heading-small,
* + .uk-heading-xlarge,
* + h1,
* + h2,
* + h3,
* + h4,
* + h5,
* + h6 {
  margin-top: 20px !important;
}

.divider {
  margin: 15px 0 15px 0 !important;
  border-top: 2px solid #e5e5e5 !important;
}

.divider2 {
  margin: 15px 0 15px 0 !important;
  border-top: 2px solid #cccccc !important;
}

.active {
  border-bottom: 3px solid #2da6dc !important;
}

.uk-dotnav > * > :active {
  background-color: #2da6dc !important;
  border-color: transparent;
}

.uk-dotnav > * > :hover {
  background-color: #2da6dc !important;
  border-color: transparent;
}

.uk-dotnav > .uk-active > * {
  background-color: #2da6dc !important;
  border-color: transparent;
}

.uk-dotnav > * > * {
  border: 2px solid #2da6dc !important;
  width: 12px;
  height: 12px;
}

.button-resize {
  border: 2px solid #949494 !important;
  font-weight: bold !important;
  padding: 4px 30px !important;
  font-size: 12px !important;
  line-height: 20px !important;
  text-align: center !important;
  border-radius: 8px !important;
}

.uk-article-title {
  font-size: 28px !important;
  font-weight: bold;
}

.background-gray {
  background: #efefef !important;
}

.background-celest {
  background: #abdcf2 !important;
}

.border-radius-top {
  border-top-left-radius: 25px !important;
  border-top-right-radius: 25px !important;
}

.border-radius {
  border-radius: 25px !important;
}
